<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebCaNhan-20190418111530.mdf;Initial Catalog=aspnet-WebCaNhan-20190418111530;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Expenditure99Entities" connectionString="metadata=res://*/Controllers.Model1.csdl|res://*/Controllers.Model1.ssdl|res://*/Controllers.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\TUANGD;initial catalog=Expenditure99;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
